h1{
    margin-top: 2%;
    //margin-left: 47%;
}
//left right top bottom
#frmTextElement{
margin-top: 10%;
margin-left: 47%;
float: left;
position: absolute;
}

#frmTextChange{
    margin-top: 10%;
    margin-left: 55%;
    float: right;
    position: absolute;
}
